.discover-base-container{
    margin-top: 48px;
    padding: 0 12px;
}
.discover-base-container h3{
    text-align: left;
    padding: 24px 0;
    font-weight: 500;
}
.discover-cards img{
    width: 100%;
    height: 100%;
}
.discover-cards{
    margin: 0 0 48px;
    text-align: left;
    box-shadow: 0 0.1875rem 0.4375rem 0 rgb(0 0 0 / 13%), 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 11%);
}
.discover-cards-sub-container{
    padding: 24px 24px 24px;
}
.discover-cards h4{
    font-weight: 400;
    margin: 0 0 8px;
}
.discover-cards-sub-container p{
    line-height: 1.2;
    margin: 0 0 16px;
    font-family: "normal"
}
.discover-cards-sub-container a{
    color: #0067b8;
    text-decoration: none;
    font-weight: 600;
    font-family: "normal";
}

@media screen and (min-width: 768px) {
    .discover-container{
        padding: 0 12px;
    }
}

@media screen and (min-width: 1024px) {
   .discover-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
   }
   .discover-base-container h3{
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    margin: 0 0 8px;
}

   .discover-cards{
    display: flex;
    flex-direction: column;
    margin: 0 0 12px;
   }
}

@media screen and (min-width: 1440px) {
    .discover-base-container{
        padding: 0 112px;
    }
    .discover-base-container h3{
        text-align: center;
        font-size: 29px;
    }
}