.discover-baseContainer{
    margin-top: 48px;
    padding: 0 12px;
}
.discover-baseContainer h3{
    text-align: left;
    padding: 24px 0;
    font-weight: 500;
}
.discoverCards img{
    width: 100%;
    height: 100%;
}
.discoverCards{
    margin: 0 0 48px;
    text-align: left;
    box-shadow: 0 0.1875rem 0.4375rem 0 rgb(0 0 0 / 13%), 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 11%);
}
.discoverCards-subContainer{
    padding: 24px 24px 24px;
}
.discoverCards h4{
    font-weight: 400;
    margin: 0 0 8px;
}
.discoverCards-subContainer p{
    line-height: 1.2;
    margin: 0 0 16px;
    font-family: "normal"
}
.discoverCards-subContainer a{
    color: #0067b8;
    text-decoration: none;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .discoverContainer{
        padding: 0 12px;
    }
}

@media screen and (min-width: 1024px) {
   .discoverContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
   }
   .discover-baseContainer h3{
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    margin: 0 0 8px;
}

   .discoverCards{
    display: flex;
    flex-direction: column;
    margin: 0 0 12px;
   }
}

@media screen and (min-width: 1440px) {
    .discover-baseContainer{
        padding: 0 112px;
    }
    .discover-baseContainer h3{
        text-align: center;
        font-size: 29px;
    }
}