.features-main-container ul {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  border-bottom: 0.0625rem solid #858585;
}

.features-main-container ul li {
  list-style-type: none;
  padding: 8px 24px;
}

::-webkit-scrollbar {
  display: none;
}

.features-main-container {
  padding: 0 24px;
}

.azure-all-produts {
  padding: 24px 12px;
  text-align: left;
}

.azure-all-produts a {
  color: #0067b8;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .features-main-container {
    display: flex;
    align-items: center;
  }

  .features-main-container ul {
    display: inline;
    border-bottom: none;
    padding: 0 12px;
    width: 432px;
  }

  .azure-services {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 12px;
    margin-bottom: 1.5rem;
  }

  .features-main-container ul li {
    padding: 8px 7px;
    text-align: left;
    margin-bottom: 1rem;
  }

  .azure-all-produts {
    padding: 24px 12px;
    text-align: center;
  }
  
  @media screen and (min-width: 1440px) {
    .features-main-container {
      padding: 0 72px;
    }
    .azure-services {
      gap: 22px;
    }
  }
}
