.migration-container {
  background-color: #f8f9fa;
}

.migration-container img {
  width: 100%;
  height: 100%;
}

.migration-sub-container {
  padding: 24px 24px 36px 24px;
  background-color: #f8f9fa;
}

.migration-sub-container h3 {
  font-size: 24px;
  margin: 0 0 25px;
  text-align: left;
  font-family: "light";
  font-weight: 500;
}

.migration-sub-container a {
  text-decoration: none;
  border: 1px solid #0078d4;
  color: #0078d4;
  padding: 10px 12px;
}

.migration-sub-container-button {
  text-align: left;
}

.migration-container-desktop {
  display: none;
}

.desktop-migartion-view h3 {
    font-weight: 800;
}

@media screen and (min-width: 1024px) {
  .migration-container {
    display: none;
  }

  .migration-container-desktop {
    display: block;
    margin-top: 132px;
  }

  .desktop-migartion-view {
    display: flex;

    align-items: center;
    background-color: #f8f9fa;
  }

  .desktop-migartion-view h3 {
    font-size: 32px;
    font-weight: 600;
  }

  .desktop-migartion-view a {
    font-weight: 600;
  }

  .desktop-migartion-view img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .migration-container-desktop {
    display: block;
    margin-top: 0px;
  }

  .desktop-migartion-view img {
    width: 50%;
    height: 100%;
  }

  .desktop-migartion-view h3 {
    font-size: 48px;
    font-weight: 600;
    width: 692px;
  }
}
